body{
	margin:0;
	overflow: hidden;

	font-family: "FuturaHandwritten";
	font-size: 18px;
}

#grid_container{
	width: 60%;
	height: 100%;
	float: left;
	position: relative;
}

#grid{
	width: 600px;
	height: 600px;
	font-size: 30px;

	position: absolute;
	margin: auto;
	top:0; left:0; right:0; bottom:0;
	overflow: hidden;
}
#grid > div{
	width: 600px;
	height: 30px;
	overflow: hidden;
}
#grid > div > div{
	float:left;
	width: 30px;
	height: 30px;
}

#editor_container{
	width: 40%;
	height:100%;
	float: right;
	background: #ddd;
	overflow-y: scroll;
}
#editor{
	margin: 20px;
}
#editor .editor_state{
	margin-bottom: 30px;
}
#editor .editor_state_header{
	height: 40px;
	overflow: hidden;
}
#editor input[type=text]{
	font-family: "FuturaHandwritten";
	background: none;
	border:1px solid #aaa;
}
#editor .editor_icon{
	font-size:30px;
	text-align: center;
	width:40px;
	height:40px;
	background: none;
	border:1px solid #aaa;
	margin-right: 15px; 
	display: block;
	float: left;
}
#editor .editor_name{
	font-size:20px;
	height:40px;
	padding: 5px 10px;
	display: block;
	float: left;
}
#editor .editor_number{
	font-size: 18px;
    width: 50px;
}
#editor .editor_new_action{
	opacity: 0.5;
	position: relative;
	left: -20px;
}
#editor select{
	font-size: 50px;
}
#editor .editor_state > .editor_actions > ul > li{
	margin-bottom: 10px;
}
#editor ul{
	padding-left: 30px;
	list-style-type: none;
	position: relative;
}
#editor li{
	padding-left: 0px;
	list-style-type: none;
	position: relative;
}
#editor li > div.delete_action{
	width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    cursor: pointer;
}