body{
	margin:0;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	font-weight: 100;

}

.words{
	width: 600px;
	margin: 25px auto;
	line-height: 1.3em;
}
.example{
	width: 800px;
	height: 450px;
	border: 1px solid #ddd;
	display: block;
	margin: 25px auto;
}